.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#000, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__window {
    max-height: 80vh;
    max-width: 400px;
    background-color: white;
    border-radius: 6px;
    padding: 12px;
    overflow: auto;

    &-content {
    }
  }

  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: all 0.15s ease;
  }

  &-exit-active {
    opacity: 0;
    transition: 0.15s ease all;
  }
}
